@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-slate-50: #eff2f5;
  --color-slate-100: #e0e4eb;
  --color-slate-200: #c2c9d6;
  --color-slate-300: #a3aec2;
  --color-slate-400: #8594ad;
  --color-slate-500: #667999;
  --color-slate-600: #52617a;
  --color-slate-700: #3d495c;
  --color-slate-800: #2a303c;
  --color-slate-900: #15181e;
  --color-slate-950: #0a0c0f;
}

:root {
  color-scheme: light dark;
  font-family: Inter, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --border-radius: calc(var(--layout-border-radius) / 2);
  --background-color: light-dark(
    var(--color-neutral-50),
    var(--color-slate-800)
  );
  --border-color: light-dark(
    var(--color-neutral-200),
    color-mix(in srgb, var(--color-slate-700) 50%, transparent)
  );
}

[data-theme="light"] {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}

body {
  @apply bg-neutral-50 dark:bg-slate-800 text-neutral-800 dark:text-slate-200;
}

#app {
  height: 100vh;
  width: 100vw;
}

.panel {
  --panel-background-color: var(--background-color);
  --panel-border-color: var(--border-color);

  @apply bg-[var(--panel-background-color)] border border-[var(--panel-border-color)] rounded-[var(--layout-border-radius)] h-[calc(100vh-(var(--layout-gap)*2))] overflow-auto;
}

.canvas {
  @apply p-8;

  svg {
    @apply size-full;
  }
}

.button {
  @apply px-2 py-1 hover:bg-neutral-100/50 dark:hover:bg-slate-700/40 active:bg-neutral-200/60 dark:active:bg-slate-600/40 rounded-[var(--border-radius)] cursor-pointer;
}

.bg-checkered {
  --square-size: calc(1rem / 2);
  --color-a: light-dark(
    var(--color-neutral-50),
    color-mix(in srgb, var(--color-slate-600) 20%, transparent)
  );
  --color-b: light-dark(var(--color-neutral-200), var(--color-slate-800));

  background-color: var(--color-a);
  background-image:
    linear-gradient(45deg, var(--color-b) 25%, transparent 25%),
    linear-gradient(135deg, var(--color-b) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--color-b) 75%),
    linear-gradient(135deg, transparent 75%, var(--color-b) 75%);
  background-size: calc(2 * var(--square-size)) calc(2 * var(--square-size));
  background-position:
    0 0,
    var(--square-size) 0,
    var(--square-size) calc(-1 * var(--square-size)),
    0 calc(-1 * var(--square-size));
  background-attachment: fixed;
}

select {
  @apply relative;

  appearance: base-select;
}

select selectedcontent {
  @apply pr-4.5;
}

select.collapsible {
  @apply p-2;

  &.collapsed {
    @apply p-0 size-9;

    .icon {
      @apply relative left-[5px];
    }

    &::picker-icon {
      @apply hidden;
    }
  }

  selectedcontent {
    @apply flex items-center gap-2 whitespace-nowrap;
  }

  &.collapsed selectedcontent .option-label {
    @apply hidden;
  }

  .icon {
    @apply rounded-sm overflow-hidden;
  }
}

select::picker-icon {
  @apply w-4 h-1.5;

  --icon-stroke-width: 1px;
  --icon-color: var(--color-slate-600);
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-image: linear-gradient(
    to bottom,
    var(--icon-color) 0%,
    var(--icon-color) var(--icon-stroke-width),
    transparent var(--icon-stroke-width),
    transparent calc(100% - var(--icon-stroke-width)),
    var(--icon-color) calc(100% - var(--icon-stroke-width)),
    var(--icon-color) var(--icon-stroke-width)
  );
}

select:open::picker-icon {
  background-image: linear-gradient(
    to bottom,
    transparent calc(50% - var(--icon-stroke-width) / 2),
    var(--icon-color) calc(50% - var(--icon-stroke-width) / 2),
    var(--icon-color)
      calc(50% - var(--icon-stroke-width) / 2 + var(--icon-stroke-width)),
    transparent
      calc(50% - var(--icon-stroke-width) / 2 + var(--icon-stroke-width))
  );
}
