@import 'tailwindcss';

:root {
  font-family: Inter, sans-serif;
  font-size: 14px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --app-layout-gap: 1rem;
  --app-layout-border-radius: 0.6rem;
}

body {
  @apply bg-neutral-50 dark:bg-neutral-950 text-neutral-800 dark:text-neutral-300;
}

#app {
  height: 100vh;
  width: 100vw;
}

.panel {
  @apply h-[calc(100vh-(var(--app-layout-gap)*2))] bg-neutral-50 dark:bg-neutral-900 border border-neutral-200/40 dark:border-neutral-800 rounded-[var(--app-layout-border-radius)] overflow-auto;
}

.button {
  @apply px-2 py-1 hover:bg-neutral-100/50 dark:hover:bg-neutral-800/50 active:bg-neutral-200/60 dark:active:bg-neutral-800/60 rounded cursor-pointer;
}

.bg-checkered {
  --square-size: calc(1rem / 2);
  --color-a: light-dark(var(--color-neutral-50), var(--color-neutral-950));
  --color-b: light-dark(var(--color-neutral-200), var(--color-neutral-900));

  background-color: var(--color-a);
  background-image: linear-gradient(45deg, var(--color-b) 25%, transparent 25%), linear-gradient(135deg, var(--color-b) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--color-b) 75%),
    linear-gradient(135deg, transparent 75%, var(--color-b) 75%);
  background-size: calc(2 * var(--square-size)) calc(2 * var(--square-size));
  background-position: 0 0, var(--square-size) 0, var(--square-size) calc(-1 * var(--square-size)), 0 calc(-1 * var(--square-size));
  background-attachment: fixed;
}

select {
  appearance: base-select;
}

select {
  @apply px-2 py-1 relative;
}

select.collapsible {
  @apply p-2;

  &.collapsed {
    @apply p-0 size-10 flex place-content-center;

    &::picker-icon {
      @apply hidden;
    }
  }

  selectedcontent {
    @apply flex items-center gap-2;
  }

  &.collapsed selectedcontent .option-label {
    @apply hidden;
  }

  .icon {
    @apply rounded-sm overflow-hidden;
  }
}

select::picker-icon {
  @apply w-4 h-1.5;

  --icon-stroke-width: 1px;
  --icon-color: var(--color-neutral-600);
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-image: linear-gradient(
    to bottom,
    var(--icon-color) 0%,
    var(--icon-color) var(--icon-stroke-width),
    transparent var(--icon-stroke-width),
    transparent calc(100% - var(--icon-stroke-width)),
    var(--icon-color) calc(100% - var(--icon-stroke-width)),
    var(--icon-color) var(--icon-stroke-width)
  );
}

select:open::picker-icon {
  background-image: linear-gradient(
    to bottom,
    transparent calc(50% - var(--icon-stroke-width) / 2),
    var(--icon-color) calc(50% - var(--icon-stroke-width) / 2),
    var(--icon-color) calc(50% - var(--icon-stroke-width) / 2 + var(--icon-stroke-width)),
    transparent calc(50% - var(--icon-stroke-width) / 2 + var(--icon-stroke-width))
  );
}
